@font-face {
    font-family: 'VegurRegular';
    src: asset-url('vegur-r_0.602-webfont.eot');
    src: asset-url('vegur-r_0.602-webfont.eot?#iefix') format('eot'),
         asset-url('vegur-r_0.602-webfont.woff') format('woff'),
         asset-url('vegur-r_0.602-webfont.ttf') format('truetype'),
         asset-url('vegur-r_0.602-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VegurMedium';
    src: asset-url('vegur-m_0602-webfont.eot');
    src: asset-url('vegur-m_0602-webfont.eot?#iefix') format('eot'),
         asset-url('vegur-m_0602-webfont.woff') format('woff'),
         asset-url('vegur-m_0602-webfont.ttf') format('truetype'),
         asset-url('vegur-m_0602-webfont.svg#webfontzTW8rbLh') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VegurLight';
    src: asset-url('vegur-l_0602-webfont.eot');
    src: asset-url('vegur-l_0602-webfont.eot?#iefix') format('eot'),
         asset-url('vegur-l_0602-webfont.woff') format('woff'),
         asset-url('vegur-l_0602-webfont.ttf') format('truetype'),
         asset-url('vegur-l_0602-webfont.svg#webfontTDl85Sua') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VegurBold';
    src: asset-url('vegur-b_0.602-webfont.eot');
    src: asset-url('vegur-b_0.602-webfont.eot?#iefix') format('eot'),
         asset-url('vegur-b_0.602-webfont.woff') format('woff'),
         asset-url('vegur-b_0.602-webfont.ttf') format('truetype'),
         asset-url('vegur-b_0.602-webfont.svg#webfontKXEypgsh') format('svg');
    font-weight: normal;
    font-style: normal;

}
